{% extends "book_store/base.html" %}
{% block title %}
    All Books
{% endblock title %}
{% block content %}
    <h1>Welcome to the book store !</h1>
    <ul>
        {% for book in books %}
            <li>
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                : by {{ book.author }} ({{ book.rating }})
                {% if book.is_bestselling %}<strong>→ Bestseller!</strong>{% endif %}
                {% comment %} add non breaking spaces {% endcomment %}
            {% endfor %}
    </ul>
    
    <hr>
    <p>Total number of books: {{ number_of_books }}</p>
    <p>Average rating: {{ stats.avg }}</p>
    <a href="{% url 'books' %}">See table</a>
    {% endblock content %}
