{% extends "book_outlet/base.html" %}
{% block title %}
    All Books
{% endblock title %}
{% block content %}
    <h1>All Books</h1>
    <ul>
        {% for book in books %}
            <li>
                {% comment %} <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a> {% endcomment %}
                <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                : by {{ book.author }} ({{ book.rating }})
                {% if book.is_bestselling %}<strong>→ Bestseller!</strong>{% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'generic_table' %}">See table</a>
{% endblock content %}
